/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}


/* start banner styles */
.banner {
    width: 1920px;
    height: 650px;
    background: rgba(229, 84, 115, 0.10);
    margin-top: 0px;
    display: flex;
}

.banner-content {

    padding-top: 100px;
    padding-left: 150px;
}

.banner-title {
    width: 620px;
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 5px 0;
}

.banner-description {
    width: 530px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.banner .profile-pic {
    width: 500px;
    padding-top: 20px;
    margin: 0px;
    padding-left: 240px;
}

/* featured section styles */
.featured {
    margin-top: 100px;

}

.section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

#section-description {
    padding: 24px 500px;
}

/* featured flower bouns */
.featured-flowers {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin: 0 200px;
    margin-top: 40px;
}

.flower-styles1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.img1 {
    padding: 0 60px;
    padding-top: 110px;
}

.img3 {
    padding: 0 60px;
    padding-top: 65px;
}

.flower-name {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

.flower-styles2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.flower-styles3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* optional image styles */
.optional {
    width: 1440px;
    height: 250px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 100px 100px;
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

.opt1 {
    width: 88px;
    height: 88px;
    padding-left: 80px;
}

.opt2 {
    width: 88px;
    height: 88px;
    padding-right: 60px;
    padding-left: 30px;
}

.optional-description {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
}